/*
 * (note) for customization please copy this file to your working directory (project dir)
 *
 */
body { font-family: verdana; }

/* used in conjunction with "-smd,--schedule-markdown-docs" command line switch */
.base {
    /*display: inline-block;*/
    display: block;
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    margin-top: 0px;
    margin-bottom: 10px;
    /*margin-left: 2%;
    margin-right: 2%;*/

    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 6px;
    padding-right: 16px;
    font-family: arial;
    background-color: #ffffffff;
    border-radius: 15px; 
    -o-border-radius: 15px; 
    -moz-border-radius: 15px; 
}

.plan {
    display: inline-block;
}

.rv {
}

.docs {
}

.w3validator {
}

.a_doc:link {
    color: #111;
    text-decoration: none;
}
.a_doc:visited {
    color: #111;
    text-decoration: none;
}

.gb > .a_doc:link {
    color: #eee;
    text-decoration: none;
}
.gb > .a_doc:visited {
    color: #eee;
    text-decoration: none;
}


.g_table { 
    border-spacing: 1px;
}
.g_hdr_tr { }
.g_hdr_base { border-bottom: 4px solid #ccc; text-align: left; }
.g_hdr_task { vertical-align: bottom; }
.g_hdr_status { vertical-align: bottom; }
.g_hdr_effort { vertical-align: bottom;}
.g_hdr_done { vertical-align: bottom;}
.g_hdr_res { vertical-align: bottom; }
.g_hdr_start { vertical-align: bottom; }
.g_hdr_end { vertical-align: bottom; }
.g_hdr_tags { vertical-align: bottom; }
.g_hdr_day { 
    width: 20px; 
    height: 70px; 
    vertical-align: top; 
    padding-top: 8px; 
}  /* height: 10em;   (render bug in firefox) */
.g_hdr_day_cw { 
    height: 70px; 
    vertical-align: top; 
    padding-top: 8px;
}
.g_hdr_day_cw_past {
    height: 70px; 
    vertical-align: top; 
    padding-top: 8px;
    color: #999;
}
.g_hdr_day_cw_cur {
    height: 70px; 
    vertical-align: top; 
    padding-top: 8px;
    background-color: #88bbee; 
    color: #fff;
}
.g_start_week { 
    border-left: 1px solid #666;
}
.g_start_month {
    border-left: 2px solid #666;
}
.g_hdr_cw_date {
    font-size: 10pt;
    font-family: monospace;
}
.g_hdr_today { 
    width: 20px;
    height: 70px; 
    vertical-align: top; 
    padding-top: 8px; 
    background-color: #88bbee; 
    color: #000;
} /* height: 10em;   (render bug in firefox) */
.g_hdr_wday { 
    color: #ddd; 
    font-size: 28pt;  /* height: 10em;   (render bug in firefox) */
    font-family: monospace; 
  /*-moz-transform: rotate(-90.0deg); 
  -o-transform: rotate(-90.0deg); 
  -webkit-transform: rotate(-90.0deg); */
}
.g_hdr_today > .g_hdr_wday {
    color: #fff; 
    font-size: 28pt;
    font-family: monospace; 
}
.g_hdr_note { vertical-align: bottom; }
.g_td_base { padding: 0px 1px 0px 1px; }
.g_tr_o { background: #f8f8f8; }
.g_tr_e { background: #f0f0f0; }
.g_task { }
.g_task_multiprefix { color: #999; }
.g_status { text-align: center; }
.g_status_overview { text-align: center; }
.g_status > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  border: 1px dotted #aaa;
}
.g_status_overview > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  height: 50%;
  width: 50%;
}
.task_parents_table { }
.task_parents_td { font-size: 6pt; }
.g_effort { font-style: italic; }
.g_done { font-style: italic; }
.g_res { }
.g_start { font-family: monospace; }
.g_end { font-family: monospace; }
.g_tags { font-size: small; }
.gb {  width: 4px; overflow: hidden; white-space: nowrap; }  /* base class */
.gpo { background: #eeeeee; color: #ddd; }
.gpe { background: #e6e6e6; color: #ccc; }

/* weekend */
.gpo_w { background: #dadad6; color: #eee; }
.gpe_w { background: #d2d2ca; color: #ddd; }

/* public holiday */
.gpo_p { background: #eeeee0; color: #eee; }
.gpe_p { background: #ddddd0; color: #ddd; }

/* resource holiday */
.gpo_h { background: #e0e0d2; color: #eee; }
.gpe_h { background: #d0d0c0; color: #ddd; }

/* resource unavailable (part time or blocked by other task) */
/*.gpo_v { background: #dbd8da; color: #eee; }
.gpe_v { background: #cac8c8; color: #ddd; }*/
.gpo_v { background: #e4e4e8; color: #eee; }
.gpe_v { background: #d8d6d8; color: #ddd; }

/* regular task (orange/brown) */
/* .go { background: #d6980f; color: #efefef; }   */
/* .ge { background: #a7770e; color: #efefef; }

/* .go { background: #3fa47a; color: #efefef; }  regular task (dark+light green) */

/* duration-bound task */
.guo { background: #148693; color: #efefef; }
.gue { background: #11767f; color: #efefef; }

/* future task (planned) */
.gfo { background: #8a8a7f; color: #efefef; }
.gfe { background: #828274; color: #efefef; }

/* planned task without tracked effort (no one's working on it) */
.gno { background: #e68d1c; color: #efefef; }
.gne { background: #cd7d18; color: #efefef; }

/* work-in-progress (has tracked effort) */
/*.gwo { background: #a7a815; color: #efefef; }
.gwe { background: #98a710; color: #efefef; }*/
/*
.gwo { background: #a9a65f; color: #efefef; }
.gwe { background: #93914b; color: #efefef; }
*/
/*
.gwo { background: #93914b; color: #efefef; }
.gwe { background: #86843f; color: #efefef; }
*/

/*
.gwo { background: #93905e; color: #efefef; }
.gwe { background: #868352; color: #efefef; }
*/
/*.gwo { background: #8a8a7f; color: #efefef; }
.gwe { background: #828274; color: #efefef; }*/
.gwo { background: #24688f; color: #efefef; }
.gwe { background: #21647f; color: #efefef; }




/* work-in-progress (has tracked effort but also has issues (traffic light)) */
.gyo { background: #d09815; color: #efefef; }
.gye { background: #bf9710; color: #efefef; }

/* work-in-progress (tracked effort exceeds estimated effort or traffic light is red) */
.gro { background: #d0580a; color: #efefef; }
.gre { background: #bf5708; color: #efefef; }

/* completed task, but took more effort than expected */
.gxo { background: #9cb413; color: #efefef; }
.gxe { background: #7a970e; color: #efefef; }

/* completed task */
.gdo { background: #90c413; color: #efefef; }
.gde { background: #74a40e; color: #efefef; }


/* milestone task */
.gmo { background: #333333; color: #efefef; }
.gme { background: #000000; color: #efefef; }

.gn { }
.g_note { font-style: italic; min-width: 400px; }
.gb .task_parents_td { color: #dddddd; }

.g_overview_seperator {
    border-bottom: 3px solid #999;
}

/* resource view */
.r_table { padding-top: 60px; }

/* resource view: percentage done */
.r_pct { font-family: monospace; color: #555; }

/* resource view: day cell base class */
.rb { padding: 8px; }

/* resource view: tracked task */
.r_t { font-weight: bold; color: #222; }

/* resource view: planned task */
.r_p { color: #333; }

/* resource view: task hours */
.r_h { font-family: monospace; color: #555; }
