<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE simplemind-mindmaps>
<simplemind-mindmaps generator="SimpleMindWin32" gen-version="1.25.0" doc-version="3">
<mindmap>
<meta>
<guid guid="2BC03CEE958FD949793794F8"/>
<title text="$(TITLE)"/>
<style key="$(STYLE_KEY)"/>
<auto-numbering style="disabled"/>
<main-centraltheme id="0"/>
</meta>
<topics>
$(TOPICS)
</topics>
<relations>
$(RELATIONS)
</relations>
</mindmap>
</simplemind-mindmaps>
