;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Aug  5 00:27:10 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '(".c" ".h" "dsp_" ".h" "are require" "see " "kmod/" "$ " "# " "sudo" "sudio" "a coupl" "makefile based" "can be on" "/*const" "**"))
(setq regexp-search-ring nil)
(setq register-alist '((9 "  0.79" "  2.29" "  1.39" "  4.41" "  0.19" "  0.75" "  7.92" "  1.19" "  3.99" "  1.11" "  1.49" "  5.70" "  1.40" "  1.40" "  1.00" "  4.00")))
(setq file-name-history '("~/libanalogrytm/" "~/c64_tools-18Jan2014_dist/c64_tools/README.md" "f:/docs_synths/elektron_analog_rytm/progchg_bugreport_4-16Jul2014.txt" "f:/docs_synths/elektron_analog_rytm/sds_speed.txt" "~/c64_tools-18Jan2014_dist/c64_tools/README.md" "~/libanalogrytm/sysex.c" "~/libanalogrytm/pattern.h" "~/libanalogrytm/sysex.c" "~/libanalogrytm/sysex.h" "~/libanalogrytm/Makefile" "~/libanalogrytm/testcases/main.c" "~/libanalogrytm/Makefile" "~/libanalogrytm/debug.h" "~/libanalogrytm/types.h" "~/libanalogrytm/Makefile" "~/libanalogrytm/types.h" "~/libanalogrytm/testcases/main.c" "~/libanalogrytm/README.md" "~/libanalogrytm/sysex.c" "~/libanalogrytm/debug.h" "~/libanalogrytm/types.h" "~/libanalogrytm/pattern.c" "~/libanalogrytm/error.h" "~/libanalogrytm/pattern.c" "~/libanalogrytm/vs2013/libanalogrytm_test/Debug/t.txt" "~/libanalogrytm/pattern.h" "~/libanalogrytm/sysex.h" "~/libanalogrytm/pattern.c" "~/libanalogrytm/inc_ar.h" "~/libanalogrytm/pattern.c"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/README.md"
  "README.md"
  'fundamental-mode
  nil
  113
  '(1198 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/sysex_void-27Jul2014.txt"
  "sysex_void-27Jul2014.txt"
  'text-mode
  nil
  39703
  '(40470 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/progchg_bugreport_4-16Jul2014.txt"
  "progchg_bugreport_4-16Jul2014.txt"
  'text-mode
  nil
  4262
  '(1792 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/sds_speed.txt"
  "sds_speed.txt"
  'text-mode
  nil
  1618
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/testcases/main.c"
  "main.c"
  'c++-mode
  '(abbrev-mode hs-minor-mode)
  2057
  '(2346 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/sysex.c"
  "sysex.c"
  'c++-mode
  '(abbrev-mode hs-minor-mode)
  12644
  '(12406 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/sysex.h"
  "sysex.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  9874
  '(9072 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/pattern.h"
  "pattern.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  1
  '(3282 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos) (overwrite-mode)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/Makefile"
  "Makefile"
  'makefile-gmake-mode
  nil
  301
  '(111 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/debug.h"
  "debug.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  1554
  '(1602 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/types.h"
  "types.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  3558
  '(3607 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/pattern.c"
  "pattern.c"
  'c++-mode
  '(abbrev-mode hs-minor-mode)
  2849
  '(3812 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/error.h"
  "error.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  2253
  '(2340 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/pat_syx_to_data.tks"
  "pat_syx_to_data.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  6954
  '(1029 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/libanalogrytm/inc_ar.h"
  "inc_ar.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  1468
  '(1511 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/fli/Texte/telefon_jan10.txt"
  "telefon_jan10.txt"
  'text-mode
  nil
  8225
  '(8225 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/fli/Texte/amazon_bestellungen.txt"
  "amazon_bestellungen.txt"
  'text-mode
  nil
  1183
  '(1165 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/fli/Texte/einkauf.txt"
  "einkauf.txt"
  'text-mode
  nil
  137033
  '(136977 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos) (overwrite-mode)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/sysex_log.txt"
  "sysex_log.txt"
  'text-mode
  nil
  33
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/sysex_analyze.tks"
  "sysex_analyze.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/tuned_percussion_groove-31Jul2014.txt"
  "tuned_percussion_groove-31Jul2014.txt"
  'text-mode
  nil
  761
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/acid_noodle-27Jul2014b.txt"
  "acid_noodle-27Jul2014b.txt"
  'text-mode
  nil
  665
  '(198 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/midi_cc_docs.txt"
  "midi_cc_docs.txt"
  'text-mode
  nil
  2321
  '(5097 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/STX_MIDIParam.tks"
  "STX_MIDIParam.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  4944
  '(4426 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/time_signatures_ext.txt"
  "time_signatures_ext.txt"
  'text-mode
  nil
  21694
  '(45446 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/time_signatures_cur.txt"
  "time_signatures_cur.txt"
  'text-mode
  nil
  21341
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/docs_synths/elektron_analog_rytm/time_signatures_cur2.txt"
  "time_signatures_cur2.txt"
  'text-mode
  nil
  1
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tkmidi/test/sds.tks"
  "sds.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  9363
  '(14057 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-doc/todo.txt"
  "todo.txt"
  'text-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-unix)))

(desktop-create-buffer 206
  "f:/Projects/tkopengl/makefile.msvc"
  "makefile.msvc<7>"
  'makefile-mode
  nil
  284
  '(284 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/STX_MIDIGenerator.tks"
  "STX_MIDIGenerator.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  5043
  '(10091 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/STX_MIDIOutDevice.tks"
  "STX_MIDIOutDevice.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  2371
  '(2312 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/STX_MIDIVoice.tks"
  "STX_MIDIVoice.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  3422
  '(1 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/utils.tks"
  "utils.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  2457
  '(2258 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/syntracker/ManageMIDIDevicesDialog.tks"
  "ManageMIDIDevicesDialog.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  13535
  '(1 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tkportaudio/makefile.msvc"
  "makefile.msvc<5>"
  'makefile-mode
  nil
  287
  '(1 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "d:/__Projects/program_files_16Jun2014_pcmove.txt"
  "program_files_16Jun2014_pcmove.txt"
  'text-mode
  nil
  3018
  '(3018 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/emacs_cheats.txt"
  "emacs_cheats.txt"
  'text-mode
  nil
  5434
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tks-projects/einkauf/einkauf.tks"
  "einkauf.tks"
  'java-mode
  '(abbrev-mode hs-minor-mode)
  751
  '(1 nil)
  nil
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/tkvst/makefile.msvc"
  "makefile.msvc<6>"
  'fundamental-mode
  nil
  258
  '(249 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/tkchipmunk/makefile.msvc"
  "makefile.msvc<4>"
  'makefile-mode
  nil
  251
  '(238 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/tkcg/makefile.msvc"
  "makefile.msvc<3>"
  'makefile-mode
  nil
  384
  '(407 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "c:/Program Files (x86)/Microsoft Visual Studio 12.0/VC/include/xkeycheck.h"
  "xkeycheck.h"
  'c-mode
  '(abbrev-mode hs-minor-mode)
  545
  '(118 nil)
  t
  nil
  '((tab-width . 3) (indent-tabs-mode) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/install_msvc.mk"
  "install_msvc.mk"
  'makefile-gmake-mode
  nil
  5313
  '(1974 nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . iso-latin-1-dos)))

(desktop-create-buffer 206
  "f:/Projects/makefile.common"
  "makefile.common"
  'fundamental-mode
  nil
  9711
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "f:/Projects/makefile.msvc"
  "makefile.msvc<2>"
  'fundamental-mode
  nil
  1273
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/plugin_msvc.mk"
  "plugin_msvc.mk"
  'makefile-gmake-mode
  nil
  1095
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "c:/msys/1.0/etc/profile"
  "profile"
  'fundamental-mode
  nil
  1399
  '(1381 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "f:/Projects/tksdl/makefile.msvc"
  "makefile.msvc"
  'fundamental-mode
  nil
  355
  '(355 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

